.project
.classpath
.settings
.fbprefs
.orig
.svn
gen
bin
assets
local.properties
default.properties
tests/pc/bin
tests/target/bin
tests/target/gen
tests/target/libs
tests/target/res
reports
ivy
*~
*.orig
