<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidodc.eorder.ui"
    android:versionCode="1"
    android:versionName="1.0">

    <supports-screens android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:name="com.androidodc.eorder.MainApp">

        <activity android:name=".WelcomeActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SelectTableActivity"
                  android:label="@string/title_tables">
        </activity>

        <activity android:name=".MainListActivity"
                  android:label="@string/dish_title">
        </activity>

        <activity android:name=".CheckHistoryOrdersActivity"
                  android:label="@string/history_orders_title">
        </activity>"

        <service android:name="com.androidodc.eorder.service.DiningService" />

        <activity android:name="ViewDishsGallery"
                  android:label="@string/app_dish_introduction">
        </activity>

    </application>
</manifest>
